<link rel="stylesheet" type="text/css" href="/css/style.css">
<img class="img-responsive" src="/img/banner.png" alt="banner">

<div class="container">
{{#msg}}
<p>{{msg}}</p>
{{/msg}}


<form method="POST">
  <div>
    <label>Customers</label>
<pre class="example">
  Example:
  name;email;age
  quoc;quocnguyen@clgt.vn;29
</pre>
    <textarea class="form-control" name="customers" rows="10"></textarea>
  </div>

  <div>
    <label>From</label>
<pre class="example">
  Example:
  quocnguyen <quocnguyen@xyz.com>
</pre>
    <input class="form-control" type="text" name="from"></input>
  </div>
  <div>
    <label>Subject</label>
<pre class="example">
  Example:
  Hello &#123;&#123; name &#125;&#125;, you have a new mail
</pre>
    <input class="form-control" type="text" name="subject"></input>
  </div>
  <div>
    <label>Body</label>
<pre class="example">
  Support  &#123;&#123; placeholder &#125;&#125; and also all html tab allowed for email
</pre>
    <textarea class="form-control" name="body" cols="100" rows="20"></textarea>
  </div>

  <div>
    <button class="btn-primary" type="submit">Send</button>
  </div>

</form>
</div>
<footer>
  <div class="footer-container">
    <a href="https://www.facebook.com/tudscss/">
      <img src="http://i.imgur.com/6u3iiez.png" alt="facebook">
    </a>
    <a href="https://twitter.com/quocnguyenclgt">
      <img src="http://i.imgur.com/5Pfy8k6.png" alt="twitter">
    </a>
    <a href="http://tuds.ninja/">
      <img src="http://i.imgur.com/Rsgehl6.png" alt="web">
    </a>
    <a href="https://github.com/quocnguyen/em">
      <img src="http://i.imgur.com/55OZSS4.png" alt="github">
    </a>
  </div>
  <p class="copy">© 2016 <a href="#">nodeepshit.com</a></p>
</footer>