<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="header">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a href="" class="navbar-brand">
        Em
      </a>
      <ul class="nav navbar-nav pull-right">
        <li><a href="login">Login</a></li>
        <li><a href="signup">Sign up</a></li>
      </ul>
    </div>
  </div>
  <!-- /navbar-inverse -->
</div>
<!-- /header -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 about">
      <div class="h1">
         <span class="number-mail">01</span> mail gửi đi chỉ = <span class="price">0.0015</span> $
      </div>
      <p class="h1">Trả lại <span class="price">75%</span> nếu email đó không được mở</p>
      <div class="col-xs-4 col-xs-offset-4">
        <a href="signup" class="btn btn-primary btn-block btn-lg">Get Start</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-center">
      <i class="fa fa-users fa-3x"></i>
      <h4>Quản lý danh sách mail</h4>
    </div>
    <div class="col-xs-4 text-center">
      <i class="fa fa-pencil fa-3x"></i>
      <h4>Quản lý giao diện mail</h4>
    </div>
    <div class="col-xs-4 text-center">
      <i class="fa fa-envelope-o fa-3x"></i>
      <h4>Kiểm tra email được mở</h4>
    </div>
  </div>
</div>
<footer>
  <p class="copy">Copyright © 2016</p>
</footer>